<body>
<div>
    <ol>
        <button id = "addNewUser" mat-raised-button (click)="openDialog()">Emergency Contacts</button>
    </ol>
</div>

<div>
    <body>
    <head>
        <style>
            h1 {
                color: #FAD7A0;
                font-family: "Trebuchet MS";
                font-size: 300%;
                text-align: center;

            }
            p  {
                color: #FAD7A0;
                font-family: "Trebuchet MS";
                font-size: 160%;
                text-align: center;
            }
        </style>
    </head>
    <body>
    <h1>Hi friend!</h1>
    <p>How are you feeling right now?</p>
    </body>
    </body>
</div>

<div class="container text-center">
    <div class="mood-buttons text-center">
        <button (click)="addEmotion(slideIndex); openDialog(slideIndex);">
            <img [attr.src]="image">
        </button>
    </div>

    <a mat-raised-button type="button" class="prev" (click)="plusSlides(-1)"><mat-icon>chevron_left</mat-icon></a>
    <a mat-raised-button type="button" class="next" (click)="plusSlides(1)"><mat-icon>chevron_right</mat-icon></a>

</div>
</body>
